<div class="create-component">
    <mat-card class="create-card">
        <mat-card-title>
            Adicionar Veículo
        </mat-card-title>
        <mat-card-subtitle>
            Preencha com as informações do novo veículo da frota.
        </mat-card-subtitle>
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="Frota" formControlName="frota">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Placa" formControlName="placa">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Odômetro" formControlName="hodometro">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Manutenção" formControlName="manutencao">
                </mat-form-field>
                <h3>Qual o tipo do veículo?</h3>
                <app-radio
                chave="tipo"
                [control]="tipoControl"
                [formulario]="formulario"
                [options]="tiposVeiculo"></app-radio>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button type="reset"  mat-raised-button>
                    Limpar Campos
                </button>
                <button
                *ngIf="formulario.valid"
                type="submit"
                mat-raised-button color="primary">
                    Registrar Novo Veículo
                </button>
            </mat-card-actions>
        </form>
        <mat-card-subtitle>
            O novo veículo estará disponível para consulta na guia frota.
        </mat-card-subtitle>
    </mat-card>
</div>