<mat-card class="container">
    <mat-card-title>
        Adicionar Veículo
    </mat-card-title>
    <mat-card-subtitle>
        <form>
            <mat-form-field>
                <input matInput placeholder="Frota" [(ngModel)]="vehicle.frota" name="frota">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Placa" [(ngModel)]="vehicle.placa" name="placa">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Odômetro" [(ngModel)]="vehicle.odometro" name="odometro">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Manutenção" [(ngModel)]="vehicle.manutencao" name="manutencao">
            </mat-form-field>
        </form>
    </mat-card-subtitle>
    <mat-card-content>
        Preencha com as informações do veículo.
        <br>
        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>
        <button mat-raised-button color="primary" (click)="inserirFrota()">
            Inserir
        </button>
    </mat-card-content>
</mat-card>