.card {
    color: rgb(29,25,22);
}
.actions .excluir {
    background-color:rgb(29,25,22);
    color:rgb(218,200,176);
}
.actions {
    padding-top:5px;
}
button {
    min-width: 150px;
    width:30%;
    margin: 20px;
    color:rgb(218,200,176);
    align-items: center;
    background-color:rgb(29,25,22);
}
.botoesConfirmacao {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
.botoesConfirmacao button:first-child {
    font-weight: bold;
    color:white;
    background-color: rgb(197,37,45);
}
.botoesConfirmacao button:last-child {
    background-color: darkcyan;
    font-weight: bold;
    color:white;
}
#abastecimento {
    display: flex;
    justify-content: space-between;
}

.actions button:first-child, .actions button:last-child{
    margin: 0;
}
mat-card{
    background-color:white;
    color:rgb(29,25,22);
}
mat-card-title {
    font-weight: 300;
}
