.list-component {
    padding: 10px;
    padding-bottom: 15px;
}
.acoes-listagem {
    width: calc(100% - 200px);
    position: fixed;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
    background-color: white;
    bottom: 35px;
    height: 20px;
}
.acoes-listagem button {
    width: 200px;
}
.listagem {
    margin: 2px;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.categorias {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}