<mat-card
[id]="vehicle.id"
class="vehicle"
[class.mat-elevation-z4]=card
(mouseover)=setCard(true)
(mouseout)=setCard(false)
>
    <mat-card-title>
        Frota <span class="frota">{{vehicle.frota}}</span> - <span class="placa">{{vehicle.placa | uppercase}}</span>
    </mat-card-title>
    <mat-card-content>
        <nav class="actions">
            <button
            mat-raised-button
            class="gas"
            (click)="abastecerFrota()"
            [class.mat-elevation-z8]=gas
            (mouseover)=setGas(true)
            (mouseout)=setGas(false)>
                <i class="material-icons">local_gas_station</i>
                Abastecer
            </button>
            <button
            mat-raised-button
            class="manutencao"
            (click)="manutencaoFrota()"
            [class.mat-elevation-z8]=manutencao
            (mouseover)=setManutencao(true)
            (mouseout)=setManutencao(false)>
                <i class="material-icons">verified</i>
                Manutenção
            </button>
            <button
            mat-raised-button
            class="excluir"
            (click)="excluirFrota()"
            [class.mat-elevation-z8]=excluir
            (mouseover)=setExcluir(true)
            (mouseout)=setExcluir(false)>
                <i class="material-icons">
                    delete
                </i>
                Deletar
            </button>
        </nav>
    </mat-card-content>
</mat-card>