.footer {
    background-color: rgb(29,25,22);
    position:fixed;
    bottom:0;
    left:0;
    z-index: 1;
    font-size:0.8em;
    height:30px;
    display:flex;
    justify-content: flex-end;
}
.footer .material-icons {
    color:rgb(197,37,45);
}

.footer > span > a{
    font-weight: 300;
    color : white;
    text-decoration:none;
}
strong {
    font-size: 1.2em;
    font-weight: 500;
}