<mat-card
class="card"
[class.mat-elevation-z4]=card
(mouseover)="card = true"
(mouseout)="card = false">
    <mat-card-title>
        Frota: <span class="frota">{{vehicle.frota}}</span>
        Placa: <span class="placa">{{vehicle.placa | uppercase}}</span>
    </mat-card-title>
    <mat-card-subtitle>
        Hodômetro {{vehicle.hodometro ? vehicle.hodometro : 0}} Km
    </mat-card-subtitle>
    <mat-card-content class="actions">
        <mat-accordion>
            <!--FORMULÁRIOS-->
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Registrar Abastecimento
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form [formGroup]="abastecerFormGroup" (ngSubmit)="abastecerFrota()">
                    <div id="entradas-formulario">
                        <mat-form-field>
                            <mat-label>Hodômetro</mat-label>
                            <input matInput type="number" formControlName="hodometro">
                            <mat-hint align="start"><strong>Kilometragem ao abastecer</strong></mat-hint>
                            <mat-error *ngIf="abastecerFormGroup.controls.hodometro.hasError('min')">
                                Precisa ser <strong>maior</strong> que a atual.
                            </mat-error>
                            <mat-error *ngIf="abastecerFormGroup.controls.hodometro.hasError('required')">
                                Campo <strong>obrigatório.</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Combustível</mat-label>
                            <input matInput type="number" formControlName="volume">
                            <mat-hint align="start"><strong>Volume de combustível</strong></mat-hint>
                            <mat-error *ngIf="abastecerFormGroup.controls.hodometro.hasError('min')">
                                Precisa ser <strong>maior</strong> que a atual.
                            </mat-error>
                            <mat-error *ngIf="abastecerFormGroup.controls.hodometro.hasError('required')">
                                Campo <strong>obrigatório</strong>.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngIf="abastecerFormGroup.valid" class="botoesConfirmacao">
                        <button mat-button type="submit">Confirmar</button>
                    </div>
                </form>
            </mat-expansion-panel>
            <!--DIVISÃO ENTRE OS FORMULÁROIS-->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Registrar Manutenção
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <form [formGroup]="manutencaoFormGroup" (ngSubmit)="manutencaoFrota()">
                    <div class="entradas-formulario">
                        <mat-form-field>
                            <mat-label>Hodômetro</mat-label>
                            <input matInput type="number" formControlName="ihodometro">
                            <mat-hint align="start"><strong>Kilometragem da manutenção.</strong></mat-hint>
                            <mat-error *ngIf="abastecerFormGroup.controls.hodometro.hasError('min')">
                                Precisa ser <strong>maior</strong> que a atual.
                            </mat-error>
                            <mat-error *ngIf="abastecerFormGroup.controls.hodometro.hasError('required')">
                                Campo <strong>obrigatório</strong>.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Serviços realizados.</mat-label>
                            <textarea
                            matInput
                            placeholder="Breve descrição dos serviços prestados na manutenção"
                            formControlName="servicos"></textarea>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Data da Manutenção</mat-label>
                            <input matInput [matDatepicker]="picker" readonly formControlName=data>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="botoesConfirmacao">
                        <button mat-button>Confirmar</button>
                    </div>
                </form>
            </mat-expansion-panel>
            {{ manutencaoFormGroup.value | json }}
            <!--DIVISÃO ENTRE OS FORMULÁRIOS-->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Excluir o veículo
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="botoesConfirmacao">
                    <button mat-button>Confirmar</button>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>