<mat-card
class="card"
[class.mat-elevation-z4]=card
(mouseover)="card = true"
(mouseout)="card = false">
    <mat-card-title>
        Frota: <span class="frota">{{vehicle.frota}}</span>
        Placa: <span class="placa">{{vehicle.placa | uppercase}}</span>
    </mat-card-title>
    <mat-card-subtitle>
        Hodômetro {{vehicle.odometro ? vehicle.odometro : 0}} Km
    </mat-card-subtitle>
    <mat-card-content class="actions">
        <mat-accordion>
            <mat-expansion-panel
            class="form"
            (opened)="estadoAbastecer = true"
            (closed)="estadoAbastecer = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{estadoAbastecer ? 'Deseja registrar um abastecimento para este veículo?' : 'Registrar Abastecimento?'}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                {{ form.valid }}
                {{ form.value | json }}
                <form
                #form='ngForm'
                novalidate>
                    <div id="abastecimento">
                        <mat-form-field>
                            <mat-label>Hodômetro</mat-label>
                            <input
                            matInput
                            type="number"
                            [(ngModel)]=hodometro
                            ngModel
                            name="hodometro"
                            [formControl]="hodometroFormControl">
                            <mat-hint align="start"><strong>Kilometragem ao abastecer</strong></mat-hint>
                            <mat-error *ngIf="hodometroFormControl.hasError('min')">
                                Precisa ser <strong>maior</strong> que a atual.
                            </mat-error>
                            <mat-error *ngIf="hodometroFormControl.hasError('required')">
                                Campo <strong>obrigatório.</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Combustível</mat-label>
                            <input
                            matInput
                            type="number"
                            ngModel
                            name="volume"
                            [(ngModel)]=volume
                            [formControl]="fuelFormControl">
                            <mat-hint align="start"><strong>Volume de combustível</strong></mat-hint>
                            <mat-error *ngIf="fuelFormControl.hasError('min')">
                                Precisa ser <strong>maior</strong> que a atual.
                            </mat-error>
                            <mat-error *ngIf="fuelFormControl.hasError('required')">
                                Campo <strong>obrigatório.</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </form>
                <div
                class="botoesConfirmacao"
                *ngIf="!fuelFormControl.hasError('min') && !fuelFormControl.hasError('required')
                         && !hodometroFormControl.hasError('min') && !hodometroFormControl.hasError('required')">
                    <button
                    mat-button
                    (click)=abastecerFrota()
                    >Confirmar</button>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel
            class="form"
            (opened)="estadoManutencao = true"
            (closed)="estadoManutencao = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{estadoManutencao ? 'Deseja registrar uma manutenção neste veículo?' : 'Registrar Manutenção?'}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Formulário de manutenção.</p>
                <div class="botoesConfirmacao">
                    <button mat-button>Confirmar</button>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel
            class="form"
            (opened)="estadoExcluir = true"
            (closed)="estadoExcluir = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{estadoExcluir ? 'Isto removerá o veículo e seus registros. Continuar?' : 'Excluir o veículo?'}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="botoesConfirmacao">
                    <button mat-button>Confirmar</button>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>